<p>Sign up to our newsletter so you can be the first to know when we launch.</p>
<form id="signup-form" method="post" action="https://xyz.us19.list-manage.com/subscribe/post?u={{ site.mailchimp_userid }}&amp;id={{ site.mailchimp_listid }}" novalidate>
  <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required />
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_217e046736397576c90f9357c_4f1044d02e" tabindex="-1" value=""></div>
  <input type="submit" value="Subscribe" id="mc-embedded-subscribe" />
</form>
